/** Navbar **/
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #FE6433, #F53E2D);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 -10px;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 0;
}

.header__navbar-item {
    padding: 0 10px;
}

.header__navbar-item, 
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item--icon {
    font-size: 1.7rem;
    color: var(--white-color);
    padding-left: 4px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover, 
.header__navbar-item--icon:hover {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.header__navbar-item--nohover:hover {
    color: rgba(255, 255, 255, 1);
    cursor: inherit;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.bulkhead {
    font-size: 1.6rem;
    color: #FB9086;
}

/* Header QR Code */
.header__navbar-item {
    position: relative;
}

.header__QR {
    width: 190px;
    padding: 5px;
    background-color: var(--white-color);
    box-shadow: 0 1px 30px rgba(66, 17, 17, 0.3);
    position: absolute;
    top: 150%;
    left: 10px;
    display: none;
    animation: fadeIn ease-in 0.25s;
    z-index: 1;
}

.header__QR::before {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    height: 20%;
    content: "";
    display: block;
}
.header__navbar-item:hover .header__QR {
    display: block;
}

.header__QR-img {
    width: 100%;
}

.header__QR-download {
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
}

.header__QR-download-link {
    height: 17px;    
}

/* Notify */
.header__notify {
    position: absolute;
    top: 150%;
    right: 10px;
    width: 410px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    box-shadow: 0 1px 30px rgba(66, 17, 17, 0.3);
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.25s;
    will-change: opacity, transform;
    z-index: 2;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 22px 40px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -1px;
    top: -30px;
}

@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item:hover .header__notify{
    display: block;
}

.header__notify-header,
.header__notify-footer {
    margin: 0 10px;
    line-height: 40px;
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__notify-header {
    opacity: 0.5;
    cursor: default;
    user-select: none;
}

.header__notify-list {
    padding: 0;
}

.header__notify-link {
    display: flex;
    padding: 4px 10px 16px;
    text-decoration: none;
}

.header__notify-link:hover {
    background-color: var(--hover-color);
}

.header__notify-link--unread {
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-img {
    width: 50px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 10px;
}

.header__notify-title {
    margin: 0;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-content {
    margin: 4px 0 0;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
    opacity: 0.6;
}

.header__notify-footer {
    text-align: center;
    text-decoration: none;
}

.header__notify-footer > a {
    text-decoration: none;
    color: initial;
}

/* User */
.header__navbar-user {
    margin-bottom: -4px;
    position: relative;
}

.header__navbar-user-avarta {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    font-weight: 500;
    font-size: 1.5rem;
}

.header__navbar-item:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    width: 150px;
    position: absolute;
    top: 140%;
    right: 10px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    list-style: none;
    padding: 0;
    z-index: 3;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 17px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -24px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    right: 0;
    top: -10px;
}

.header__navbar-user-menu > li:last-child {
    border-top: 1px solid #D3D3D3;
}

.header__navbar-user-menu > li:last-child:hover a{
    color: #eb2942;
}

.header__navbar-user-item:hover a{
    color: #00BFA5;
    font-weight: 500;
}

.header__navbar-user-item a{
    padding: 10px 13px;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
}

/** Authen modal **/
.auth-form {
    width: 500px;
    margin: auto;
}

.auth-form__top {
    margin: 30px 32px 26px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.auth-form__heading {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 400;
    cursor: default;
    user-select: none;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: #D44B38;
    cursor: pointer;
}

.auth-form__form {
    margin-top: 20px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 10px;
    font-size: 1.4rem;
    border: 1px solid #DDD;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__aside-text {
    font-size: 1.2rem;
    padding: 0 10px;
    text-align: center;
}

.auth-form__aside-link {
    text-decoration: none;
    color: #D44B38;
    font-weight: 500;
}

.auth-form_controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form_socials {
    background-color: #e6e6e6;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form_socials--icon {
    width: 18px;
    background-color: var(--white-color);
}

.auth-form__switch-btn a {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form_socials--text {
    padding: 0 32px;
}

/* Đăng nhập */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #939393;
}

.auth-form__help-link--forgot {
    color: var(--primary-color);
}

/** Header-with-search **/
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Logo */
.header__logo {
    flex: 1;
    text-decoration: none;
    color: transparent;
}

.header__logo--icon {
    height: 80px;
}

/* Search */
.header__search {
    flex: 10;
    height: 40px;
    background-color: var(--white-color);
    margin-left: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

/* Input search */
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
    border-radius: 2px;
}

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 4px 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* seach history*/
.header__search-history {
    position: absolute;
    top: 110% ;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 16px;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(197, 197, 197);
    user-select: none;
    cursor: default;
}

.header__search-history-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__search-history-list-item:hover {
    background-color: var(--hover-color);
}

.header__search-history-list-item a{
    width: 100%;
    padding: 10px 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
}

/* Select search */
.header__search-select {
    border-left: 1px solid #ccc;
    font-size: 1.5rem;
    padding: 6px 16px;
    cursor: pointer;
    position: relative;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    margin-right: 6px;
}

.header__search-option {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    margin: 10px 0;
    list-style: none;
    width: 100%;
    box-shadow: 0 1px 3px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -10px;
    right: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 10px 14px;
    display: flex;
    justify-content: space-between;
}

.header__search-option > li:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option > li:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: var(--hover-color);
}

.header__search-option-item > span{
    font-size: 1.5rem;
    color: var(--text-color);
}

.header__search-option-item > i{
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--avtive i {
    display: inline-block;
}

/* Button search */
.header__search-btn {
    background-color: var(--primary-color);
    height: 34px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin: 3px;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

/*** Cart ***/
.header__cart {
    flex: 1;
    text-align: center;
}

/* Cart Empty && Cart has product*/
.header__cart-wrap,
.header__cart-wrap--empty {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.header__cart-icon,
.header__cart-icon--empty {
    font-size: 2.5rem;
    color: var(--white-color);
    cursor: pointer;
}

.header__cart-container,
.header__cart-container--empty {
    position: absolute;
    top: 140%;
    right: 0;
    width: 400px;
    padding: 40px 0;
    background-color: var(--white-color);
    box-shadow: 0 1px 30px rgba(66, 17, 17, 0.3);
    z-index: 2;
    transform-origin: calc(100% - 30px) top;
    animation: headerNotify ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
}

.header__cart-container::before,
.header__cart-container--empty::before {
    content: "";
    border-width: 17px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -28px;
}

.header__cart-wrap:hover .header__cart-container,
.header__cart-wrap--empty:hover .header__cart-container--empty {
    display: block;
}

.cart--empty {
    display: none;
}

/* Cart Empty*/
.header_cart--empty-img {
    width: 25%;
}

.header_cart--empty-text {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* Cart has product*/
.header__cart-notice {
    position: absolute;
    padding: 1px 6px;
    top: -10px;
    right: -5px;
    font-size: 1.5rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);
    cursor: pointer;
}

.header__cart-container {
    padding: 0;
}

.header__cart-container-header {
    margin: 0 10px;
    line-height: 40px;
    background-color: var(--white-color);
    color: var(--text-color);
    opacity: 0.6;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    cursor: default;
    user-select: none;
}

.header__cart-list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 55vh;
    overflow: auto;
}

.header__cart-item {
    display: flex;
    padding: 10px;
}

.header__cart-item:hover {
    background-color: var(--hover-color);
    cursor: default;
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    border: 1px solid #DDD;
}

.header__cart-item-info {
    width: 100%;
    margin-left: 10px;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__cart-item-name {
    flex: 1;
    margin: 0;
    padding-right: 10px;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 2rem;
    text-align: left;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-content {
    font-size: 1.4rem;
    color: #757575;
}

.header__cart-item-price {
    color: var(--primary-color);
}

.header__cart-item-multiply {
    margin: 0 4px;
    font-size: 1.2rem;
}

.header__cart-item-amout {
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.header__cart-item-description {
    font-size: 1.3rem;
    color: #757575;
}

.header__cart-item-remove {
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-btn {
    float: right;
    margin: 10px;
}

.header__cart-view-btn:hover {
    background-color: var(--primary-color-hover);
}

/* CONTAINER */
.container {
    background: #F5F5F5;
}

.category {
    background-color: #fff;
} 

.category__heading {
    padding: 16px 12px;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
}

.category__heading-icon {
    font-size: 1.2rem;
    margin-right: 8px;
}

.category__heading-text {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--black-color);
}

.category-list {
    padding: 5px 0;
    list-style: none;
    margin: 0;
}

.category-item__link {
    padding: 10px 24px;
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -10px;
    color: var(--primary-color);
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 12px;
    content: "";
    border: 5px solid;
    transform: translateY(calc(-50%));
    border-color: transparent transparent transparent var(--primary-color);
}

.home-filler {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: #ededed;
}

.home-filler__label {
    margin-right: 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    user-select: none;
    cursor: default;
}

.home-filler__btn {
    margin-right: 12px;
    min-width: 90px;
    color: var(--text-color);
    box-shadow: 0 1px 2px rgba(66, 17, 17, 0.3);
}

.home-filler__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filler__page-num {
    margin-right: 20px;
    font-size: 1.3rem;
    color: var(--text-color);
}

.home-filler__page-current {
    color: var(--primary-color);
}

.home-filler__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}

.home-filler__page-btn {
    width: 36px;
    height: 36px;
    flex: 1;
    padding: 0 5px;
    background-color: var(--white-color);
    text-decoration: none;
    display: flex;
    margin-left: 1px;
}

.home-filler__page-btn--disable {
    cursor: default;
}

.home-filler__page-btn--disable .home-filler__page-icon{
    color: #ccc;
}

.home-filler__page-icon {
    margin: auto;
    font-size: 1.6rem;
    color: #555;
}

/* Product */
.product {
    margin-bottom: 10px;
}

.product-item {
    display: block;
    position: relative;
    background-color: var(--white-color);
    border-radius: 0 0 2px 2px;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: tranform ease-out 0.1s;
    will-change: transform;
}

.product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.product-item__img {
    margin-top: 10px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-item__content {
    padding: 10px;
}

.product-item__name {
    margin: 0;
    color: var(--black-color);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
    height: 3.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-item__price {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 400;
}

.product-item__price-old {
    font-size: 1.4rem;
    color: #888;
    text-decoration: line-through;
    margin-right: 4px;
}

.product-item__price-new {
    color: var(--primary-color);
}

.product-item__estimate {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5px;
}

.product-item__rating {
    color: #ccc;
    font-size: 0.9rem;
}

.product-item__rating>i {
    margin-right: 2px;
}

.product-item__rating-star--gold {
    color: var(--star-gold-cold);
}

.product-item__sold {
    font-size: 1.3rem;
    color: var(--text-color);
}

.product-item__origin {
    display: flex;
    margin-top: 5px;
    font-size: 1.3rem;
    color: #888;
}

.product-item__orign-name {
    margin-left: auto;
}

.product-item__mall {
    position: absolute;
    top: 10px;
    left: -4px;
    color: #D0011B;
    background-color: currentColor;
    padding: 0 5px 0 4px;
    border-radius: 0 3px 3px 0;
}

.product-item__mall::after {
    content: "";
    position: absolute;
    left:  0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(0.6);
}

.product-item__mall span {
    color: var(--white-color);
    letter-spacing: 1px;
}

.product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: #ffd839;
    text-align: center;
    padding: 2px 0;
}

.product-item__sale-off::after {
    content: "";
     position: absolute;
     left: 0;
     bottom: -6px;
     border-width: 0 20px 6px;
     border-style: solid;
     border-color: transparent #ffd839 transparent #ffd839 ;
}

.product-item__sale-off-text {
    color: #EE4D2D;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.7rem;
}

.product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
}

/* Pagination */
.home-pagination {
    margin: 48px 32px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 20px;
}

.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
}

.footer__list {
    padding: 0;
    list-style: none;
}

.footer__item {
    padding: 4px 0;
}

.footer__item-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
}

.footer__item-link:hover {
    color: var(--primary-color);
}

.footer__item-link-icon {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 8px;
}

.footer__item-link:hover .footer__item-link-icon{
    color: var(--text-color)
}

.footer__download {
    display: flex;
}

.footer__download-img {
    border: 1px solid #ccc;
    width: 40%;
    margin-right: 16px;
}

.footer__download-apps {
    align-self: center;
}

.footer__download-apps-link {
    height: 20px;
}

.footer__copyright {
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 5px;
}

