.admin__heading {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
	height: var(--heading-height);
	align-items: center;
}

.admin__body {
    padding: 15px;
    margin: 0 10px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.btn.btn--primary {
    font-size: 1.6rem;
}

.btn.btn--normal {
    min-width: 82px;
}

.btn--save-icon {
    padding-right: 5px;
}

table tr:nth-child(odd){
    background-color:#eee;
	border: 1px solid #ccc;
}

table tr:nth-child(even){
    background-color:white;
	border: 1px solid #ccc;
}

.admin__add-new-data {
    background-color: var(--white-color);
    margin: 20px;
    padding: 10px;
    border-top: 3px solid var(--primary-color);
    border-radius: 5px;
}

.admin__add-new-data--heading {
    display: flex;
    align-items: center;
    margin: 10px 0px 20px 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e1e1e1;
}

.admin__add-new-title {
    font-size: 2.6rem;
    letter-spacing: 1px;
}

.admin__add-new-data input,
.admin__add-new-data textarea {
    font-size: 1.5rem;
    padding: 0 5px;
}

.product-name,
.product-price,
.product-store {
    display: flex;
}

.product-featured {
    display: flex;
    margin-top: 10px;
}

.product-name__title,
.product-description__title,
.product-ingredient__title,
.product-categories__title,
.product-price__title,
.product-new-price__title,
.product-discount__title,
.product-featured__title,
.product-store__title,
.product-sold__title,
.product-picture__title {
    font-size: 1.6rem;
}

.product-name__title {
    padding-left: 200px;
    margin-right: 10px;
}

.product-name__input {
    height: 32px;
    width: 700px;
}

.product-description,
.product-categories,
.product-new-price,
.product-discount,
.product-sold,
.product-picture {
    display: flex;
    margin-top: 10px;
}

.product-description__title {
    padding-left: 164px;
    margin-right: 9px;
    margin-top: 0px;
}

.product-categories__title {
    padding-left: 179px;
    margin-right: 9px;
    margin-top: 0px;
}

.product-featured__title {
    padding-left: 180px;
    margin-right: 5px;
    margin-top: 2px;
}

.product-price__title{
    padding-left: 159px;
    margin-right: 9px;
    margin-top: 0px;
}

.product-discount__title {
    padding-left: 181px;
    margin-right: 10px;
    margin-top: 0px;
} 

.product-new-price__title {
    padding-left: 172px;
    margin-right: 8px;
    margin-top: 0px;
}

.product-store__title{
	padding-left: 206px;
    margin-right: 9px;
    margin-top: 0px;
}

.product-sold__title {
    padding-left: 212px;
    margin-right: 9px;
    margin-top: 0px;
}

.product-picture__title {
    padding-left: 194px;
    margin-right: 9px;
    margin-top: 0px;
}

.product-price__input,
.product-new-price__input,
.product-store__input,
.product-sold__input {
    width: 200px;
}

.product-discount__input--edit {
    width:40px;
}

.product-picture__input {
    width: 700px;
}

.product-new-price__input:focus,
.product-sold__input:focus {
    outline: none;
}

.product-new-price__input:hover,
.product-sold__input:hover {
    cursor: no-drop;
}

.product-description__input,
.product-ingredient__input {
    width: 700px;
}

.product-categories__select {
    width: 700px;
    color: var(--text-color);
	font-size: 1.5rem;
}

.products-table__data-img {
    width: 100px;
    height: 100px;
    background-color: var(--background-product);
}

.product-table__data--name {
    width: 114px;
}

.product-table__data--description,
.product-table__data--ingredient {
    display: -webkit-box;
    width: 100px;
    height: 100px;
    line-height: 1.3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.product-table__data--action {
    width: 90px;
}

.admin-table {
    height: 494.68px;
}

.products-table__title--th {
    border:1px solid #ccc;
}

.products-table__data--td {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.products-table__title--th, 
.products-table__data--td {
    padding:10px;
    font-size: 1.6rem;
	text-align: center;
}

.btn--edit-product,
.btn--delete-product {
    margin: 17px 10px;
}

.products-table__icon-decoration {
    text-align: center;
}

.products-table__data--icon-check {
    color: #01A101;
}

.products-table__data--icon-cross {
    color: #F40204;
}

.product__add-new-data--title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    color: #444;
}

.product__add-new-data--title::before {
    border: 1px solid var(--primary-color)
}

.admin__add-new-data--icon {
    font-size: 2rem;
    padding-right: 8px;
}